* {
  box-sizing: border-box;
}

body{
  margin : 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.font-exo{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  opacity: 0.7;
}

.square {
  height: 1200px;
  width: 800px;
  background-color: #000000;
}

.container{
  max-width:100%;
  min-width:100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  scroll-snap-align: start;
  position: relative;
}

.bottom-img{
    height: 75px;
    vertical-align: bottom;
    bottom: 0;
    position:absolute;
}

.social-a{
  height: 75px;
  vertical-align: bottom;
  bottom: 0;
  position:absolute;
}

.project-a{
  aspect-ratio : 1 / 1;
  height: 30%;
  position:absolute;
  opacity:0.7;
  transition: opacity 0.5s;
  transition: height 0.3s;
}

.project-a:hover{
  opacity: 1;
  height: 32%;
}

.top-aligned{
    vertical-align: top;
    top: 50px;
    position:absolute;
}
