* {
  box-sizing: border-box;
}

body{
  margin : 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}

.font-exo{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  opacity: 0.7;
}

.square {
  height: 1200px;
  width: 800px;
  background-color: #000000;
}

.container{
  max-width:100%;
  min-width:100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  scroll-snap-align: start;
  position: relative;
}

.bottom-img{
    height: 10vh;
    vertical-align: bottom;
    bottom: 0;
    position:absolute;
}

.social-a{
  height: 5vw;
  vertical-align: bottom;
  bottom: 0;
  position:absolute;
}

.column-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5vw; /* Added margin to the left and right borders */
}

.center-column {
  flex: 1;
  margin: 0 auto;
  text-align: center;
}

.side-column {
  flex: 1;
  margin: 0 3vw;
  text-align: center; 
}

.column-container > div {
  flex: 1;
  margin: 0 3vw;
  text-align: center; 
}

@keyframes project-anim {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg) translateY(-10%);
  }
}

@keyframes project-anim1 {
  from {
    transform: rotate(0deg) translateY(-10%);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes left-arrow-project-anim {
  0%, 100% {
    transform: translateX(0);

  }
  50% {
    transform: translateX(-15%);
  }
}

@keyframes right-arrow-project-anim {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
}

.project-a{
  aspect-ratio : 1 / 1;
  size: 15vw;
  position:absolute;
  opacity:0.7;
  transition: opacity 0.5s;
  transition: transform 0.3s;
  transition: animation 0.3s;
  animation: project-anim1 0.75s ease-in-out 1;
}

.project-a:hover{
  opacity: 1;
  size: 17vw;
  transform: translate(0, -10%);
  animation: project-anim 0.75s ease-in-out 1;
}

.left-arrow-a{
  aspect-ratio : 1 / 1;
  size: 15vw;
  position:absolute;
  opacity:0.7;
  transition: opacity 0.5s;
  left: 1vw
}

.left-arrow-a:hover{
  opacity: 1;
  size: 17vw;
  animation: left-arrow-project-anim 0.75s ease-in-out infinite;
}

.right-arrow-a{
  aspect-ratio : 1 / 1;
  size: 15vw;
  position:absolute;
  opacity:0.7;
  transition: opacity 0.5s;
  right: 1vw
}

.right-arrow-a:hover{
  opacity: 1;
  size: 17vw;
  animation: right-arrow-project-anim 0.75s ease-in-out infinite;
}


.project-container {
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
  margin-top: 5vw;
}

.top-aligned{
    vertical-align: top;
    top: 5%;
    position:absolute;
}

.size4xl {
  font-size: 2vw; /* Adjusts font size relative to viewport width */
}

.size3xl {
  font-size: 1vw; /* Adjusts font size relative to viewport width */
}

.size2xl {
  font-size: 0.75vw;
}

.fullsize3xl{
  height: 3vw;
}